*{
  margin: 5;
  padding: 0;
  box-sizing: border-box;
}
body{
  background:linear-gradient(to right, #D4D3DD, #EFEFBB);
}
.img{
  width: 80%;
  height: 80vh;
  background-image: url("./img/1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 30px auto;
}
.btn-left{
  position: absolute;
  top: 50%;
  left: 0;
  color: #fff;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  padding: 15px;
  border-radius: 11px;
  text-align: center;
  backdrop-filter: blur(5px);
  cursor: pointer;
}
.btn-right{
  position: absolute;
  top: 50%;
  right:-35px;
  color: #fff;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  padding: 15px;
  border-radius: 11px;
  text-align: center;
  backdrop-filter: blur(5px);
  cursor: pointer;
}
.
.
.
...///main
///
////////
.......
main
///
**** 
,,,,

\.....
//////  </div>
        <!--end of single store item-->
        <!-- single item -->
        <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3 store-item doughnuts" data-item="dougnuts">
          <div class="card ">
            <div class="img-container">
              <img src="img/doughnut-1.jpeg" class="card-img-top store-img" alt="">
              <span class="store-item-icon">
                <i class="fas fa-shopping-cart"></i>
              </span>
            </div>
            <div class="card-body">
              <div class="card-text d-flex justify-content-between text-capitalize">
                <h5 id="store-item-name">dougnut item</h5>
                <h5 class="store-item-value">$ <strong id="store-item-price" class="font-weight-bold">5</strong></h5>

              </div>
            </div>
///////////////////
//////////////////
//////////////////////////
///////////////////////////
///////////////////////////
/////////////////////
///////////////////////////
////////////////////////////////////////
//////////////////
////////////////////////////
////////////////////////
////////////////////////////////////
//////////////////
//////////////////////
///////////////////////
//////////
////////////////
////////////////////
//////////////////////////////////////////
//////////////////////////
/////////////////////////////////////
////////////////////
////////////////////////////////////////////////////////
////////////////////////
////////////////////////////////
//////////////////////////////
//////////////////////////
////////////////////////////////////
///////////////////
//////////////////
//////////////////
///////////////////////
//////////////////////////
/////////////////////
/////////////////////
////////////////////////////
//////////////////////
//////////////////////
///////////////////
/////////////////
///////////////////////
/////////////////
